 <div class ="container">
  <h1>ShortLink.com</h1>

  <p>Please provide a url:</p>
<br>
<form action="/urls" method="post">
  <input id="URL" name="origin_url" type="text" value="<%= @url.try(:origin_url) %>">
</div>
